<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="NpaManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
   </configSections>
   <connectionStrings>
      <add name="NpaManager.Properties.Settings.NpaDBConnectionString"
         connectionString="Data Source=rgisdbsrv;Initial Catalog=NpaDB;Persist Security Info=True;User ID=npauser;Password=test"
         providerName="System.Data.SqlClient" />
   </connectionStrings>   
   
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
   </startup>
   <userSettings>
      <NpaManager.Properties.Settings>
         <setting name="LastOpenedDoc" serializeAs="String">
            <value />
         </setting>
         <setting name="AutoLoadDT" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="RowAutoHeight" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="PeriodId" serializeAs="String">
            <value />
         </setting>
         <setting name="Panel1Collapsed" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="Form1_Location" serializeAs="String">
            <value>0, 0</value>
         </setting>
         <setting name="Form1_WindowState" serializeAs="String">
            <value>Normal</value>
         </setting>
         <setting name="Form1_Size" serializeAs="String">
            <value>1129, 621</value>
         </setting>
         <setting name="WordVersion" serializeAs="String">
            <value>2</value>
         </setting>
      </NpaManager.Properties.Settings>
   </userSettings>
</configuration>
